body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    width: 800px;
    margin: auto;
}

.title {
    text-align: center;
}

.category {
    border-bottom: solid;
}

#contact li {
    display: inline;
}

@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px ;
    }
}